

body #modul4{

 @font-face {
 	font-family:"Gudeaitalic";
 src:url("../fonts/Gudea-Italic.eot?") format("eot"),
 url("../fonts/Gudea-Italic.woff") format("woff"),
 url("../fonts/Gudea-Italic.ttf") format("truetype"),
 url("../fonts/Gudea-Italic.svg#Gudea-Italic") format("svg");
 font-weight:normal;
 font-style:normal;
}
@font-face {
	font-family:"Gudea";
	 src:url("../fonts/Gudea-Regular.eot?") format("eot"),
	 url("../fonts/Gudea-Regular.woff") format("woff"),
	 url("../fonts/Gudea-Regular.ttf") format("truetype"),
	 url("../fonts/Gudea-Regular.svg#Gudea") format("svg");
	 font-weight:normal;
	 font-style:normal;
    }

@font-face {
	font-family:"Gudeabold";
	src:url("../fonts/Gudea-Bold.eot?") format("eot"),
	url("../fonts/Gudea-Bold.woff") format("woff"),
	url("../fonts/Gudea-Bold.ttf") format("truetype"),
	url("../fonts/Gudea-Bold.svg#Gudea-Bold") format("svg");
	font-weight:normal;
	font-style:normal;
    }

	

.container-fluid{
	.petitboul{
			background-color: #1d1e22;
			background-image: url(../images/boul.png);
			background-repeat:no-repeat;
			background-position: center;
			background-size: cover;
			img{
				margin-top: 50px;
				&.boderraduis{
	               background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				    border: 2px solid #333437;
				    border-radius: 50%;
				    height: 80px;
				    width: 80px;			}
			}
			h3{
				font-size: 26px;
				font-family: 'nexulight';
				color: #fff;
				position: relative;
				margin-bottom: 40px;
			    &::after {
				    border-bottom: medium solid #bb272f;
				    bottom: -23px;
				    color: #bed52b;
				    content: "";
				    font-size: 32px;
				    left: 0;
				    margin: 0 auto;
				    position: absolute;
				    right: 0;
				    width: 80px;
				}
			}
			p{
				font-size: 15px;
				font-family:"Gudea";
				color: #54555a;
				 margin-bottom: 30px;
			}
		}	

	}
}
#modul1{	
	.dichetnav{
		background-image: url(../images/dichet.png);
		background-repeat:no-repeat;
		background-position: center;
		background-size: cover;
		margin-bottom: 30px;
		.navbar-header{
          a{
          	margin-top: 10px;
          }
		}
		.navbar-collapse{
			ul{
				margin-top: 24px;
				li{
					float: left;
					a{
						color: #535054;
						font-size: 18px;
						font-family:"Gudea";
						&:hover{
							 background: none;
						}
					}
				}
			}

		}
	}
}
	

